--swiftversion 6.0
--indent 4
--linebreaks lf
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen same-line
--commas inline
--trimwhitespace always
--stripunusedargs closure-only
--allman false
--ifdef no-indent
--self remove
--patternlet inline
--semicolons never
--commas always
--ranges no-space
--header ignore
--exclude Pods,Carthage,.build,DerivedData